# Type Casting

In [1]:
20 == 20

True

In [2]:
20 == 20.0

True

In [3]:
20 == "20"

False

In [7]:
age = input("What is your age (enter a number): ")

What is your age (enter a number): 30

In [8]:
type(age)

str

In [9]:
age == 30

False

In [10]:
int(age)

30

In [11]:
age = int(age)

In [12]:
type(age)

int

In [13]:
age == 30

True

In [16]:
tup = (1, 2, 3, 5)

In [17]:
tup

(1, 2, 3, 5)

In [18]:
tup[3]

5

In [19]:
# tup -> list -> edit the list -> tup
lst = list(tup)
print(lst)
print(type(lst))

[1, 2, 3, 5]
<class 'list'>

In [20]:
lst[3] = 4

In [21]:
lst

[1, 2, 3, 4]

In [22]:
tup = tuple(lst)

In [23]:
tup

(1, 2, 3, 4)

In [24]:
name = input("What is your name?")

What is your name?tony

In [27]:
has_name = bool(name)

In [28]:
type(has_name)

bool

In [29]:
has_name

True

In [30]:
if has_name:
    print("The name is ", name)

The name is  tony

In [37]:
#str -> ints
# Removing the duplicates from a list
groceries = list(set(['Milk', 'Bread', 'Eggs', 'Milk', 'Eggs', 'Oranges', 'Chocolate']))

In [38]:
groceries

['Milk', 'Bread', 'Oranges', 'Chocolate', 'Eggs']